
.body-card {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.body-card div {
	background-color: #333;
	width: 100%;
	height: 170px;
}

.body-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.body-card h1 {
    margin: 10px 0;
    font-size: 24px;
}

.body-card p {
    margin: 0;
    font-size: 16px;
    color: #888;
}

