
#navbar {
	position: fixed;
	overflow: hidden;
	width: 100%;
	background: linear-gradient(to bottom, #333 166px, transparent 0%);
	height: 163px;
	transition: height 0.3s ease;
	z-index: 3;
}


#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

#navbar .logicon {
	padding: 0;
}
#navbar .logicon:hover {
	border-bottom: 3px solid transparent;
}

#navbar a:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

#navbar a.active {
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
}



#head, #about, #contact {
    scroll-margin-top: 70px; 
}

.logo {
	display: flex;
}

#icon {
	height: 90px;
	margin: 10px;
	transition: 0.3s ease-out;
}

#text {
	margin-top: 35px;
	margin-left: -6px;
	width: 159px;
	height: 60px;
}


#navbar.scrolled {
	position: fixed;
	background: linear-gradient(to bottom, #333 60px, transparent 0%);
	height: 60px;
	transition: height 0.3s ease;
}

#navbar.scrolled div {
	float: left;
}

#navbar.scrolled .menu {
	top: 5px;
}

#navbar.scrolled .x {
	top: 59px;

}

#navbar.scrolled .x.active a{
	display: block;
}


#navbar.scrolled #icon {
    height: 40px;
}

#navbar.scrolled #text {
    display: none;
	 
}




.menu {
  position: fixed;
  top: 110px;
  right: 7px;

}

.menu i {
	font-size: 1.5rem;
}

.x {
  position: fixed;
  top: 165px;
  right: 0;
  width: 0;
  height: 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;

  transition: top 0.3s ease;
  z-index: 2;
}

.x.active {
	display: flex;
	width: 150px;
	height: 200px;
	background-color: #333333dc;
	border-radius: 5px;
}

.x a {
	display: none;
	margin-top: -12px;
	margin-right: 5px;
	padding: -5px;

}

.x.active a {
	display: block;
}