body {
    display: grid;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;
}


.row {
    display: grid;
    grid-template-columns: 70% 30%;
}

.leftcol {
    padding-right: 10px;
}

.rightcol {
    padding-left: 10px;
}

.card {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  margin: 5px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 800px) {
	.row {
        grid-template-columns: 100%;
	}

  .leftcol, .rightcol {
    width: 100%;
    padding: 0;
  }


}

#more1, #more2, #more3, #more4 {display: none;}

